/* css/topbar.css - Styles de la barre supérieure */

/* -----=====TOP BAR SEARCH=====----- */

body.dark-theme .flex.flex-row.items-center.justify-between.h-full.px-5.bg-white.gap-4 {
    background-color: var(--better42-bg-secondary) !important;
}

body.dark-theme .w-full.h-full.outline-none {
    background-color: var(--better42-bg-secondary) !important;
}

/* -----=====TOP USER PART=====----- */

/* LOGIN TOP LEFT */
body.dark-theme .hover\:text-legacy-main:hover {
    color: var(--better42-purple) !important;
}

/* HOLY GRAPH */
body.dark-theme .hover\:fill-legacy-main:hover {
    fill: var(--better42-purple) !important;
}

body.dark-theme .hover\:stroke-legacy-main:hover {
    stroke: var(--better42-purple) !important;
}

/* USER PICTURE BORDER */
body.dark-theme .w-52.h-52.text-black.md\:w-40.md\:h-40.lg\:h-28.lg\:w-28.bg-cover.bg-no-repeat.bg-center.rounded-full.bg-gray-300.border-2.shadow-base {
    border-color: var(--better42-purple) !important;
}

/* LEFT SIDEBAR DARK */
body.dark-theme .bg-\[\#4E5566\] {
    background-color: var(--better42-bg-secondary) !important;
}

body.dark-theme .py-5.w-full.flex.justify-center.hover\:opacity-100.opacity-40:hover svg {
    stroke: var(--better42-purple) !important;
}

body.dark-theme .py-5.w-full.flex.justify-center.hover\:opacity-100.opacity-40:hover svg path {
    stroke: var(--better42-purple) !important;
}