#theme-switcher {
  position: fixed !important;
  top: 15px !important;
  right: 190px !important;
  background: #333 !important;
  color: white !important;
  border: none !important;
  padding: 8px 12px !important;
  border-radius: 6px !important;
  cursor: pointer !important;
  z-index: 10000 !important;
  font-size: 14px !important;
}

#theme-switcher:hover {
  background: #555 !important;
}

/* Dark theme */
body.dark-theme {
  background-color: #0f0f0f !important;
}

/* CIRCLE DAY */
body.dark-theme .dropdown .flex.flex-row.items-center.text-stone-500 {
  background-color: #5c058f !important;
}

body.dark-theme .stroke-\[hsla\(180\,\_100\%\,\_37\%\,\_0\.3\)\] {
  background-color: #5c058fCC !important;
}

/* ALL MILESTONE */
body.dark-theme .h-10.rounded {
  background-color: #5c058f !important;
}

/* ALL EVENT */
body.dark-theme .w-20.pt-2 {
  background-color: #5c058f !important;
}

body.dark-theme .border.grow {
  background-color: #5c058f !important;
}

body.dark-theme .relative.flex-shrink {
  background-color: #5c058f !important;
}

body.dark-theme .h-10.rounded.flex.items-center.cursor-pointer.bg-legacy-main-muted.pl-2 {
 background-color: #350452 !important;
}

body.dark-theme .h-10.rounded.flex.items-center.cursor-pointer.bg-legacy-main.pl-2 {
 background-color: #5c058f !important;
}


                /* LOGTIME GRAPH WEEKS */
body.dark-theme .mx-2\.5.w-8.rounded-3xl.h-full.bg-legacy-main-muted.cursor-pointer:hover {
  background-color: #5c058f80 !important;
}


/* BAR LEVEL XP USER */
body.dark-theme .h-full.w-full.flex-1.transition.duration-1000.ease-out {
  background-color: #5c058f !important;
}

/* Pour ta nouvelle classe */
body.dark-theme .h-10.rounded.flex.items-center.cursor-pointer.bg-legacy-main.pl-2 {
  background-color: #5c058f !important;
}

body.dark-theme .stroke-legacy-main {
  stroke: #5c058f !important;
}

/* Vire les outlines */
* {
  outline: none !important;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}