/* -----=====SCROLLBAR=====----- */

/* SCROLLBAR FOR FIREFOX */
body.dark-theme * {
    scrollbar-width: thin !important;
    scrollbar-color: var(--better42-bg-secondary) var(--better42-bg-dark) !important;
}

/* SCROLLBAR FOR WEBKIT (CHROME, SAFARI, EDGE) */
body.dark-theme *::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

body.dark-theme *::-webkit-scrollbar-track {
    background: var(--better42-bg-dark) !important;
}

body.dark-theme *::-webkit-scrollbar-thumb {
    background: var(--better42-bg-secondary) !important;
    border-radius: 4px !important;
}

body.dark-theme *::-webkit-scrollbar-thumb:hover {
    background: var(--better42-bg-secondary) !important;
}

body.dark-theme *::-webkit-scrollbar-corner {
    background: var(--better42-bg-dark) !important;
}